body {
    font-family: Circe, sans-serif;
    font-weight: 300;
    margin: 0 auto;

}

.layout {
    display: flex;
    max-width: 1150px;
    padding: 22px 0 70px 0;
    margin: 0 auto;
}
.product {
    display: flex;
    justify-content: space-between;
}


.product__gallery {
    background: #fdfdfe;
    width: 160px;
    height: 700px;
    display: flex;
    flex-direction: column;
}
.product__gallery img{
    width: 150px;
    height: 200px;
    display: block;
    padding: 5%;
}

.arrow {
    position: relative;
    margin-left: 40%;
    width: 40px;
    height: 27px;
    border: 1px solid #cbcbcb;

}
.arrow:after {
    position: absolute;
    top: 25%;
    left: 40%;
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    transform: rotate(313deg);
}
.product__pic {
    width: 500px;
}
.product__pic img {
    width: 100%;
    height: 100%;
}
.description {
    width: 50%;
    height: 100%;
    margin-left: 150px;
}
.description h1 {
    margin-bottom: 0;
    text-transform: uppercase;
}
.description__price {
    display: inline-flex;
    padding-top: 75px;
    font-size: 20px;
}
.description__price p {
    margin: 0 20px;
}
.description__price p:first-child {
    margin-right: -5px;
}
.description__link {
    display: flex;
}
.description__link a {
    text-decoration: none;
    color: rgba(43, 155, 253, 0.82);
    margin-right: 25px;
}
.description__link a:last-child {
    margin-right: 0;
}
.description__delivery img {
    width: 15px;
    height: 15px;
    padding-right: 5px;

}
.description__delivery {
    background: #f4f4f4;
    padding: 10px;
    margin: 10px 10px 0 10px;
}
.buy {
    width: 190px;
    height: 45px;
    background: #006be5;
    border: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-family: Circe-Bold, sans-serif;
    letter-spacing: 3px;
    transition: 0.4s  linear;
    margin-right: 45px;
}
.buy:hover {
    background: #e5695e;
    transition: 0.4s linear;
}
.buy--grey {
    width: 190px;
    height: 45px;
    border: 2px solid #b4b0b0;
    color: black;
    font-size: 16px;
    text-transform: uppercase;

    transition: 0.3s linear;
    background: #efedec;
}
.buy--grey:hover {
    background: #006be4;
    transition: 0.4s ;
    color: white;
    border: 0;
}
.footer {
    margin-top: 100px;
    font-family: 'Circe Light', sans-serif;
}
.footer__soc {
    display: flex;
    margin-top: 15px;
}
.footer__soc p {
    margin: 10px;
    text-transform: uppercase;
}
.description__counter {
    margin: 25px;
    user-select: none;
}
.description__counter .minus, .plus {
    background: #f3f3f3;
    padding: 9px 12px;
    border: 1px solid black;
    cursor: pointer;
}


.description__counter .text {
    height: 37px;
    width: 50px;
    margin: auto -5px;
    text-align: center;
    cursor: default;
}
.description__submit {
    margin-top: 25px;
    display: flex;
}
#popup {
    background: #efefed;
    width:300px;
    height: 180px;
    position: absolute;
    left: 40%;
    top: 25%;
    z-index: 500;
    display:none;
    font-family: Circe-Regular, sans-serif;
    border: 1px solid #cecbcb;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#topbar {

    border-bottom: 2px black solid;
    padding:5px; height:20px;
    line-height:20px;
    text-align: center;
    background: #1a86ff;
}
#val {
    font-family: Circe-Bold, sans-serif;
    font-weight: 300;
    font-size: 30px;
}
#content {
    height: 114px;
    text-align:center;
    border-bottom: 1px solid black;
}
#ok {

    width: 100%;
    height: 35px;
    border: none;
    color: #000000;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: #eeeeec;
    transition: 0.3s linear;
    padding: 0;
}
#ok:hover {
    background: #e5695e;
    transition: 0.3s linear;

}
.block {
    background: #eeeeee;
    position: relative;
    width: 55px; height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;

}
.block::after {
    content: '';
    position: absolute;
    left: -20px; top: 10px;
    border: 10px solid transparent;
    border-left: 20px solid #eeeeee;
    transform: rotate(180deg);
}
.large {
    background: url(shirt.png) no-repeat;
    background-size: 420%;
    position: absolute;
    display:none;
    width: 350px;
    height: 250px;
    z-index: 500;

}